body
{
    background-image: url("../img/seigaiha.png");
    background-attachment: fixed; 
    font-family: 'Lato', serif;
}

.jumbotron
{
    text-align:center;
}

.newRoute
{
	margin-top:3%;
}

.lab
{
	margin-left:5px;
}
#map
{
	margin-top:2%;
	border: 1px solid black;
}
#heading
{
	margin-top:5%;
	text-align:center;

}
/*.box
{
	border: 1px solid black;
}
*/
