<div class="container-fluid">
    <div class="jumbotron">
        <h1>Nav UP</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form id="login">
                <fieldset>
                    <legend>Log In</legend>
                
                    <div class="form-group">
                        <label for="email">Username</label>
                        <input type="username" class="form-control" id="username" name="username" ng-model="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" ng-model="password">
                    </div>

                    <input class="btn btn-default" type="button" value="User login" ng-click="login('user')">
                    <input class="btn btn-default" type="button" value="Admin login" ng-click="login('admin')">
                </fieldset>
            </form>
            <button class="btn btn-default pull-right" ng-click="register()">Click to Register</button>
            <button class="btn btn-default pull-right" ng-click="login('guest')">Guest login</button>
        </div>
    </div>
</div>