<div class="container-fluid">
    <div class="jumbotron">
        <h1>Nav UP</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form id="login" name="loginForm">
                <fieldset>
                    <legend>Log In</legend>
                
                    <div class="form-group">
                        <label for="stud_num">Student Number / EMPLID</label>
                        <input type="text" class="form-control" id="stud_num" name="stud_num" ng-model="stud_num">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" ng-model="password">
                    </div>

                    <input ng-disabled="loginForm.$invalid" class="btn btn-default" type="button" value="User login" ng-click="login('user')">
                </fieldset>
            </form>
            <button class="btn btn-default pull-right" ng-click="register()">Click to Register</button>
            <button class="btn btn-default pull-right" ng-click="login('guest')">Guest login</button>
        </div>
    </div>
</div>